.header__list-item {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: var(--text-size-nav);
    display: inline-block; /* Нужно для transform */
    transition: transform 0.2s ease;
}

/* .header__list-item:hover {
    transform: scale(1.1);
} */

.header__list-item:active {
    animation: var(--animation);
}