.skills__list-item {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 2px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: inline-block; /* Нужно для transform */
    transition: all .2s ease;
}

.skills__list-item:hover {
    transform: translateY(-5px);
}