.contacts__list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all .3s ease;
    border-radius: 5px;
}

/* .contacts__list-item:hover {
    transform: var(--scale);
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, .2));
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.2);
} */