@import url(./main/main.css);
@import url(./body/body.css);
@import url(./main/__h1/__h1.css);
@import url(./main/__h2/__h2.css);
@import url(./main/__text/__text.css);
@import url(./main/__section/__section.css);
@import url(./main/__header-center/__header-center.css);
@import url(./main/__header-left/__header-left.css);
@import url(./main/__accent/__accent.css);
@import url(./animations/compression/compression.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(./header/__list/__list.css);
@import url(./header/__button/__button.css);
@import url(./header/__list-item/__list-item.css);

/*main*/
@import url(./main/about-me/__img/__img.css);
@import url(./main/about-me/__content/__content.css);
@import url(./main/about-me/main__me/main__me.css);

/*about-me*/
@import url(./main/about-me/__bg-img/__bg-img.css);
@import url(./main/about-me/__main-img/__main-img.css);
@import url(./main/about-me/__img-container/__img-container.css);
@import url(./main/about-me/__container-main-img/__container-main-img.css);

@import url(./main/about-me/__line/__line.css);
@import url(./main/about-me/__line-text/__line-text.css);
@import url(./main/about-me/__line-container/__line-container.css);
@import url(./main/about-me/__container/__container.css);

@import url(./main/about-me/__adrs-list/__adrs-list.css);
@import url(./main/about-me/__adrs/__adrs.css);
@import url(./main/about-me/__adrs-list-item/__adrs-list-item.css);

/*skills*/
@import url(./main/skills/skills.css);
@import url(./main/skills/__content/__content.css);
@import url(./main/skills/__list-skills/__list-skills.css);
@import url(./main/skills/__list-item.css/__list-item.css);
@import url(./main/skills/__d-list/__d-list.css);
@import url(./main/skills/__d-list-item/__d-list-item.css);
@import url(./main/skills/__line/__line.css);
@import url(./main/skills/__h3/__h3.css);
@import url(./main/skills/__article/__article.css);

/*projects*/
@import url(./main/projects/projects.css);
@import url(./main/projects/__card-button/__card-button.css);
@import url(./main/projects/__card-h3/__card-h3.css);
@import url(./main/projects/__card-header/__card-header.css);
@import url(./main/projects/__card-text/__card-text.css);
@import url(./main/projects/__cards-item/__cards-item.css);
@import url(./main/projects/__cards/__cards.css);
@import url(./main/projects/__card/__card.css);
@import url(./main/projects/card-1/card-1.css);
@import url(./main/projects/card-2/card-2.css);
@import url(./main/projects/card-3/card-3.css);
@import url(./main/projects/card-4/card-4.css);
@import url(./main/projects/card-5/card-5.css);
@import url(./main/projects/card-6/card-6.css);
@import url(./main/projects/medium/medium.css);
@import url(./main/projects/large/large.css);

/*exprerience*/
@import url(./main/experience/experience.css);
@import url(./main/experience/__cards/__cards.css);
@import url(./main/experience/__card/__card.css);
@import url(./main/experience/__header/__header.css);
@import url(./main/experience/year/year.css);
@import url(./main/experience/__h3/__h3.css);

/*contacts*/
@import url(./main/contact/contact.css);
@import url(./main/contact/__content/__content.css);
@import url(./main/contact/__aside/__aside.css);
@import url(./main/contact/__list/__list.css);
@import url(./main/contact/__list-item/__list-item.css);
@import url(./main/contact/__span/__span.css);
@import url(./main/contact/__form-container/__form-container.css);
@import url(./main/contact/___form-group/__form-group.css);
@import url(./main/contact/__label/__label.css);
@import url(./main/contact/__input/__input.css);
@import url(./main/contact/__desctiption/__description.css);
@import url(./main/contact/__comment/__comment.css);
@import url(./main/contact/__form/__form.css);
@import url(./main/contact/__send/__send.css);
@import url(./main/contact/__button/__button.css);
@import url(./main/contact/__send-span/__send-span.css);

/*footer*/
@import url(./footer/footer.css);
@import url(./footer/__list/__list.css);
@import url(./footer/__list-item/__list-item.css);
@import url(./footer/__aside/__aside.css);
@import url(./footer/__button/__button.css);
@import url(./footer/__line/__line.css);
@import url(./footer/__nav/__nav.css);