.baba {
    width: 1200px !important;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}