.header {
    background-color: var(--main-light-color);
    width: var(--header-width);
    /* width: 100%; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}