.header {
    background-color: var(--main-light-color);
    /* width: 100%; */
    /* width: 1200px; */
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}