.header {
    background-color: var(--main-light-color);
    /* width: var(--header-width); */
    width: 1200px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    top: 0;
}