.experience__card {
    border: 1px solid var(--main-black-opacity);
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* transition: all .3s ease-out; */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.experience__card:hover {
    box-shadow: 0 0 0 2px var(--main-black-opacity);
    animation: var(--animation-swing);
    animation-delay: 0.3s;
}