.main__header-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block-end: var(--main-header-margin-block);
}

.main__header-center > * {
    text-align: center;
}