.project__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                         url(../../../../images/img/1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 100%;
    padding: 40px;
    transition: all 0.3s ease;
}

.project__card:hover {
    transform: scale(1.05);
    border: 3px solid var(--main-add-color);
}

.projects__cards-item:nth-child(1) .project__card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                    url(../../../../images/img/1.png);
}

.projects__cards-item:nth-child(2) .project__card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                    url(../../../../images/img/2.png);
}

.projects__cards-item:nth-child(3) .project__card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                    url(../../../../images/img/3.png);
}

.projects__cards-item:nth-child(4) .project__card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                    url(../../../../images/img/4.png);
}

.projects__cards-item:nth-child(5) .project__card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                    url(../../../../images/img/5.png);
}

.projects__cards-item:nth-child(6) .project__card {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
                    url(../../../../images/img/6.png);
}