@font-face {
    font-family: 'Inter-Regular';
    src: url(../fonts/Inter_18pt-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bold';
    src: url(../fonts/Inter_18pt-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}