.footer__button {
    color: var(--main-add-color);
    text-transform: uppercase;
    font-family: 'Bold';
    font-size: 14px;
    text-decoration: none;
    transition: all .3s ease;
}

.footer__button:hover {
    transform: var(--scale);
}

.footer__button:active {
    animation: var(--animation);
}