.header__button {
    background-color: var(--main-accent-color);
    padding: var(--padding-button);
    border: none;
    color: #fff;
    /* color: var(--main-light-color); */
    border-radius: var(--border-radius-button);
    font-size: var(--text-size-nav);
}

.header__button>a {
    text-decoration: none;
    color: #fff;
}