.header__button {
    background-color: var(--main-accent-color);
    padding: var(--padding-button);
    border: none;
    color: #fff;
    /* color: var(--main-light-color); */
    border-radius: var(--border-radius-button);
    font-size: var(--text-size-nav);
    display: inline-block;
    transition: all .3s ease;
}

.header__button>a {
    text-decoration: none;
    color: #fff;
}

.header__button:hover {
    background-color: var(--main-accent-color-hover);
}

.header__button:active {
    animation: var(--animation);
}

#theme-toggle {
    background-color: transparent;
    color: var(--main-text-color);
    padding-inline: 0;
    cursor: pointer;
    transition: all .3s ease;
}

#theme-toggle:hover {
    transform: scale(1.1);
}