.footer__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    color: #fff;
    opacity: 40%;
    margin-block-end: 42px;
}

.footer__text-1 {
    font-size: 14px;
}

.footer__text-2 {
    font-size: 10px;
}