.me__adrs-list-item {
    border: 1px solid #E8E8E8;
    padding: 10px;
    border-radius: 2px;
    height: 100%;
    aspect-ratio: 1 / 1;
    display: inline-block;
    transition: all .3s ease;
}

.me__adrs-list-item:hover {
    transform: scale(1.1);
}