.skills__d-list-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--main-text-color);
    transition: all .3s ease;
}

.skills__d-list-item:hover {
    transform: translateY(-5px) scale(1.1);
}