.footer__list-item a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    display: inline;
}

.footer__list-item {
    transition: all .2s ease;
}

.footer__list-item:hover {
    transform: scale(1.1);
}

.footer__list-item:active {
    animation: var(--animation);
}